[submodule "backend"]
	path = backend
	url = https://github.com/MLHale/CYBR8470-building-a-webservice-lab-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/MLHale/CYBR8470-building-a-webservice-lab-frontend
