<p class="outlined">Deck Title: {{input type = "text" value=model.name size="51"}}</p>
{{#with model as |deck|}}
  {{#each deck.flashcards as |flashcard|}}
    {{create-flashcard-component flashcard=flashcard}}
  {{/each}}
{{/with}}

<button {{action 'addFlashcard'}}>Add Flashcard</button>
<button {{action 'submitDeck'}}>Submit</button>
