<!-- This is where we can edit the deck -->
<!-- We will not be able to get to this page in the scope of this class -->
<p class="outlined">Deck Title: {{input value="" size="51"}}</p>
{{create-flashcard-component}}

{{#if addFlashcard}}
  {{create-flashcard-component}}
{{/if}}

<button {{action 'addFlashcard'}}>Add Flashcard</button>
<button>Submit</button>
