<div class="form-group">
<div class="input-group">
<p class="outlined">
  Term:<br>
  {{input flashcard=model.term size="61"}}<br><br>
  Definition:
  {{textarea flashcard=model.definition cols="60" rows="5"}}
</p>
</div>
</div>
