<p>
  Term:  {{input value=""}}<br><br>
  Definition:  {{textarea value=""}}
</p>
<!-- <div class="header-img"><img src="/static/ember/img/black-plus.svg" width="30%" class="img-rounded"/></div> -->
<span aria-hidden="true" data-icon="&#x002b;"></span>
<img src="/static/ember/img/green-icon.png" width="30%" class="img-rounded"/>
