<div class="row">
  <div class="col-sm-3 col-md-2 col-md-offset-1">
    <article class="deck">
      <div class="container">
        <!-- <div class="header-img"><img src="{{constants.rootURL}}img/flashy    <img src="{{constants.rootURL}}img/flashycards-banner.png" width="25%" class="img-rounded"/>cards-banner.png" width="25%" class="img-rounded"/></div> -->
        <div class="header-img"><img src="/static/ember/img/plain-notecard.jpg" width="30%" class="img-rounded"/></div>
        <div class="centered">{{name}}</div>
      </div>
    </article>
  </div>
</div>
